<!DOCTYPE HTML>
<html>

	<head>
	
		<!-------------------------<!--! META ------------------------------>
		<title>Website Titel</title>
		
		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

		<!-------------------------<!--! STYLES ------------------------------>
		<link rel="stylesheet" type="text/css" href="styles/normalize.css">
		<link rel="stylesheet" type="text/css" href="styles/style.css">
	
		<!-------------------------<!--! LIBRARIES ------------------------------>
		<script type="text/javascript" src="scripts/libraries/jquery.js"></script>
		
		<!-------------------------<!--! SCRIPTS ------------------------------>
		<script type="text/javascript" src="scripts/scripts.js"></script>
	
	</head>
	
	<body>
	
	
			
	</body>
	
</html>	