@charset "UTF-8";

/************************
*		STRUCTURE		*
************************/


body	{
	height: 1400px;
	padding: 50px;
}

div	{
	background-color: #BBBBBB;
	border: 1px solid #AAAAAA;
	height: 200px;
	width: 300px;
	padding: 20px;

}

.fixed	{
}

.static	{
}

.relative	{
}

.container	{
	background-color: #DDDDDD;
	height: auto;
	width: auto;
}

.absolute	{
}