header, article	{
	box-sizing: border-box;
	background-color: #AAAAAA;
	width: 100%;
	padding: 20px;
	margin-bottom: 20px;
}

.box	{
	margin: 20px;
	height: 200px;
	width: 350px;
	background-color: #CCCCCC;
}

.left	{
	float: left;
}
.clear	{
	clear: both;
}